collections/*
!collections/requirements.yml
*.tar.gz
*.pyc
id_rsa*
test
tests/output
local-test.yml
ansible-navigator.log
inventory.yml
*.crt
*.csr
*.pkcs12
*.key
test-inventory.yml
test-example.yml
ns-inventory.yml
ns-*
vault_setup.sh
